


.bi {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

html{
  background-color: #212529;
}

h1,h2,h3,h4,h5,h6, blockquote{
  font-family: 'Signika', serif !important;
}

body{
  /* font-family: 'Poppins', sans-serif !important; */
  font-weight: 400 !important;
  background: #212529;
  color: white;
}

p,li{
  color:#a8a8a8;
}

.workspace li{
  margin-bottom: 1.1em;
}

p, ol{
  margin-bottom: 2.5em;
}

a{
  color:#3d3d3d;
}

/*
 * Sidebar
 */

@media (min-width: 768px) {
  .sidebar .offcanvas-lg {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
  }
  .navbar-search {
    display: block;
  }

  .sidebar{
    position: fixed;
    height: 94vh;
    overflow-y: auto;
  }
}

.sidebar .nav-link {
  font-size: .875rem;
  font-weight: 500;
}

.sidebar .nav-link.active {
  color: #d1cfcf;
}

.sidebar-heading {
  font-size: .75rem;
}

/*
 * Navbar
 */

/* .navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  width: 100%;
}

.navbar .form-control {
  padding: .75rem 1rem;
}
*/

.navbar-nav a{
  color:#797777;
}

.navbar-nav a.active{
  color: white;
}

.selector-wrapper{
  margin-top:15px;
} 


/* HTML: <div class="loader"></div> https://css-loaders.com/classic/*/
.loader {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 30px;
  animation: l1 1s linear infinite alternate;
}
.loader:before {
  content:"Loading..."
}
@keyframes l1 {to{opacity: 0}}



/********STYLING PINDAHAN**********/

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}

.nav-link:hover, .nav-link:focus {
    /* color: rgb(214, 214, 214); */
}

.nav-link{
    color: rgb(214, 214, 214);
}



.btn-toggle {
    display: inline-flex;
    align-items: center;
    padding: .25rem .5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .65);
    background-color: transparent;
    border: 0;
}
.btn-toggle:hover,
.btn-toggle:focus {
    /* color: rgba(0, 0, 0, .85); */
}

.btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
    color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.btn-toggle-nav a {
    display: inline-flex;
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
    text-decoration: none;
    color: rgb(160, 160, 160);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}
.btn-toggle-nav a:hover{
    color:rgb(222, 222, 222);
    
}

.btn-toggle-nav a:focus {
    background-color: none;
}

.btn-toggle-nav a.active{
    color:white;;
}

.btn-toggle-nav a.later{
    color:rgb(114, 113, 113);
}

.table a {
  color: rgb(160, 160, 160);
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}
.table a:hover{
  color:rgb(222, 222, 222);
  
}

.table a:focus {
  background-color: none;
}

.table a.active{
  color:white;;
}

blockquote {
  border-width: 1px;
  border-left-width: 10px;
  border-style:solid;
  border-color: white;
  background-color: rgba(114, 113, 113,10%);;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  line-height: 2rem;
  border-radius: 12px;
}

table{
    width: 100%;
    table-layout: auto;
    text-align: left;
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: .775em;
    line-height: 1.7142857;
    text-indent: 0;
    border-collapse: collapse;
    border:1px solid rgb(75, 75, 75);
    position: relative;
    border-radius: 12px;
    
}

thead{
  --tw-border-opacity: 1;
  border-color: rgb(62 62 62/var(--tw-border-opacity));
  background-color: rgba(114, 113, 113,10%);
  border-bottom-width: 1px
}

th{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0.3em;
    margin-top: 0.6em;
    font-weight: 600;
    vertical-align: bottom;
    border:1px solid rgb(75, 75, 75);
    background-color:rgba(75, 75, 75,50%);    
}

td{
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 5px;
    padding-bottom: 5px;
    border-left:1px solid rgb(75, 75, 75);
}

tr:nth-child(even) {
  background-color:rgba(75, 75, 75,12%);
}

article{
  width: 100%;;
}


/***** TABLE CUSTOM STYLE****/
.tablesorter-blackice th, .tablesorter-blackice thead td {
  padding: 4px;
  font: 12px / 14px Arial, Sans-serif !important;
  font-weight: 700;
  color: #e5e5e5;
  text-align: left;
  text-shadow: 0 1px 0 rgba(135, 128, 128, 0.7);
  background-color: #2e3740 !important;
  border: 1px solid #232323;
}

.tablesorter-blackice tbody>tr.even:hover>td, .tablesorter-blackice tbody>tr.hover>td, .tablesorter-blackice tbody>tr.odd:hover>td, .tablesorter-blackice tbody>tr:hover>td {
  background-color: #393e43;
}

.tablesorter-blackice tr.odd>td {
  background-color: #262a2e;
}

.tablesorter-blackice tr.even>td {
  background-color: #2d3238;
}


/* Fixed column scroll bar spacer styling */
.tablesorter-scroller-bar-spacer {
  background: #eee;
}
/* add border to right side (LTR pages) of fixed column */
.tablesorter-scroller-fixed:after {
  content: '';
  border-right: 1px solid #444;
  width: 1px;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 2;
  /* set to zero for non-jquery ui themes; use "left" here for RTL pages */
  right: 0;
  /* match the margins set to the table to keep the border the same height as the table */
  margin: 10px 0 15px;
}

/* using-x-theme added by the demo code */
.using-jui-theme .tablesorter-scroller-fixed:after {
  /* use "left" here for RTL pages */
  right: 0;
}
.using-green-theme .tablesorter-scroller-fixed:after,
.using-black-ice-theme .tablesorter-scroller-fixed:after,
.using-dark-theme .tablesorter-scroller-fixed:after,
.using-dropbox-theme .tablesorter-scroller-fixed:after {
  /* match the margins set to the table to keep the border the same height as the table */
  margin: 0;
}

/* OPTIONAL CSS! */
#fixed-columns-table tbody td {
  /* force "Notes" column to not wrap, so we get a horizontal scrolling demo! */
  white-space: nowrap;
  /* Add min column width, or "Index" column filter gets too narrow to use */
  min-width: 60px;
}


/* wrapper of table 2 */
.wrapper {
  position: relative;
  top: 0px;
  left:auto !important;
  overflow-x: auto;
  height:88vh;
}

.tablesorter-sticky-wrapper{
  left:auto !important;
}

.workpages .table-sorter{
  width: 100%;
  margin-top:0;
}

.workpages .container{
  width:100%;
  max-width: 100%;
  margin-top:0
}

.tablesorter{
  margin-top:0 !important;
}

.wp-block-table{
  padding:0;
}

.wp-block-hdq-quiz-block p{
  margin-bottom:0;
}

.hdq_results_wrapper, .hdq_question{
  background-color: #272c31 !important;
  border:none !important;
}

.hdq_results_title{
  color:white !important;
}

.hdq_quiz .hdq_input {
  background: white;
  border: 1px solid black !important;
}

h3.hdq_question_heading {
  font-size:20px;
}

.hdq_question_heading{
  color:white !important;
}

label.hdq_label_answer {
  color:white !important;
}

.hdq_facebook, .hdq_twitter{
  display:none !important;
}
